/* Global */

@font-face {
    font-family: 'klinic_slablight';
    src: url('../fonts/klinicslablight-webfont.eot');
    src: url('../fonts/klinicslablight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinicslablight-webfont.woff') format('woff'),
         url('../fonts/klinicslablight-webfont.ttf') format('truetype'),
         url('../fonts/klinicslablight-webfont.svg#klinic_slablight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blanchcaps';
    src: url('../fonts/blanch_caps-webfont.eot');
    src: url('../fonts/blanch_caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blanch_caps-webfont.woff') format('woff'),
         url('../fonts/blanch_caps-webfont.ttf') format('truetype'),
         url('../fonts/blanch_caps-webfont.svg#blanchcaps') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	/*font-family: 'Signika', sans-serif;*/
	font-family: 'klinic_slablight', serif;
	font-weight: 400;
	font-size: 1.25em;
	line-height: 1.50em;
	color: #8a8683;
	background-color:#fff;
}
img {
	max-width: 100%;
}
img.circle {
	border-radius:100px;
	margin:0 auto;
}
a:link {
	color: #f68f67;
	text-decoration: none;
}
a:hover {
	color: #bde2df;
	text-decoration: none;
}
a:visited {
	color: #f68f67;
	text-decoration: none;
}
.portrait {
	text-align: center;
}
/*h1, h2, h3, h4 {
	font: 500 35px 'deconeuelight';
	color:#777;
	line-height: 0px;
}
h1 {
	font-size: 3.8em;
	background-color: green;
	color:#e7e7e7;
}
h2 {
	font-size: 2.8em;
}*/





/* Navigation */

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto; 
	z-index:100;
}
.menu .container {
	position: relative;
}
.menu .darken {
	background-color:#fff;
	opacity:0.8; 
	z-index: 0;
}
#logo {
	text-align: center;
	margin: 10px 0;
}
#nav {
	text-align: right;
	margin: 30px 0 0 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li{
	float: left;
	padding:0 0 0 50px;
}
.navigation li:hover{
	cursor:pointer;
	color: #a9d3d0;
}

.navigation .active{
	cursor:pointer;
	color: #f68f67;
	font-weight:bold;
}




/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:140px 0;
}

/* Deco */
#decorative {
	
	position: absolute;
}
#decorative-2 {
	
	position: absolute;
}



/* Slide 1 */ 

#slide1{
	background-image:url('../images/diamands-bis.png');
	background-repeat: no-repeat;
	background-position: right middle;
	background-color:#ffffff;
}
#slide1 h1 {
	font-family: 'blanchcaps';
	font-size: 10em;
	line-height: 0.5em;
	margin: 0;
	/*letter-spacing: -3px;*/
	/*line-height: 0px;*/
	color: #fffcdf;
	font-weight: 700;
	background-color: #b5ddc2;
}
#slide1 h2 {
	font-family: 'blanchcaps';
	font-size: 2em;
	color: #fffcdf;
	background-color: #cf4b25;
	line-height: 0px;
	padding-bottom:20px;
	padding-top:20px;
	font-weight: 400;
}
.impact {
	width: 250px;
	margin-top: 50px;
	font-size: 1.5em;
	letter-spacing: 1px;
	font-family: 'blanchcaps';
	color:#fffcdf;
	background-color: #cf4b25;
	line-height: 1em;	
}
.impact p {
	margin: 5px;
	font-family: 'klinic_slablight';
	font-size: .75em;
	font-weight: 400;
	line-height: 1.15em;
}




/* Slide 2 */ 

#slide2{
	background-image:url('../images/keursha-bg.png');
	background-color:#f68f67;
	color:#ffffff;
}
#slide2 h1 {
	font-family: 'blanchcaps';
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide2 h2 {
	font-family: 'blanchcaps';
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}




/* Slide 3 */ 

#slide3{
	background-color:#ffffff;
}
#slide3 h1 {
	font-size: 5em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide3 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
#test{
	background-color:#bde2df;
	color:#ffffff;
	text-align:center;
	font-size: 2em;
	font-weight: 400;
}




/* Slide 4 */

#slide4{
	background: #bde2df url('../images/anne.png') ;
	/*background-position-x: right !important;	 */
	/*background-color:#8a8683;*/
	color:#ffffff;
}
#slide4 .container {
	padding:40px;
}
#slide4 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide4 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
#slide4 .container {
	position: relative;
}
#slide4 .darken {
	background-color:#333;
	opacity:0.9; 
}
#slide4 .qui {
	z-index: 2;
	position: relative;
}


.darken {
	width: 100%;
	height: 100%;
	opacity:0.9; 
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

/* Slider swipe */
.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > div {
	float:left;
	width:100%;
	position: relative;
	text-align: center;
}
.swiper-controller {
	width:125px;
	padding-left: 0;
	margin: 0 auto;
}
.swiper-controller li {
	display: inline-block;
	width:20px;
	height:20px;
	background-color: #e7e7e7;
	border:1px solid #d6d6d6;
	border-radius:10px;
	margin:0 5px;
	cursor: pointer;
}
.swiper-controller li:hover {
	border-color: #53ba68;
} 
.swiper-controller li.active {
	background-color: #64cb79;
	border-color:#53ba68;
}

/* Tablet */
@media screen and (max-width: 1024px) {

	#logo {
		width: 100%;
		text-align: center;
	}

	#nav {
		width:100%;
		text-align:center;
		margin:10px 0;
	}

	.navigation{
		width: 100%;
		float: center;
		list-style: none;
		margin: 0;
		padding:0;
	}

	.navigation li{
		float: left;
		width:25%;
		padding:0;
	}

	.slide{
		background-attachment: fixed;
		width:100%;
		position: relative;
		padding:150px 0;
	}

	#decorative {
		display:none;
	}

	#content {
		text-align:center;
		width:100%;
	}

	#slide1 h1 {
		line-height: 1em;
	}
	#slide1 h2 {
		line-height: 1em;
	}
	#slide2 h1 {
		line-height: 1em;
	}
	#slide2 h2 {
		line-height: 1em;
	}
	#slide3 h1 {
		line-height: 1em;
	}
	#slide3 h2 {
		line-height: 1em;
	}
	#slide4 h1 {
		line-height: 1em;
	}
	#slide4 h2 {
		line-height: 1em;
	}

}




/* Mobile */
@media screen and (max-width: 480px) {

	#logo {
		width: 100%;
		text-align: center;
	}

	#nav {
		width:100%;
		margin:5px 0;
	}

	.navigation{
		width: 100%;
		float: left;
		list-style: none;
		margin: 0;
		padding:0;
	}

	.navigation li{
		float: left;
		width:25%;
	}

	.slide{
		background-attachment: fixed;
		width:100%;
		position: relative;
		padding:150px 0;
	}


	#slide1 h1 {
		line-height: 1em;
	}
	#slide1 h2 {
		line-height: 1em;
	}
	#slide2 h1 {
		line-height: 1em;
	}
	#slide2 h2 {
		line-height: 1em;
	}
	#slide3 h1 {
		line-height: 1em;
	}
	#slide3 h2 {
		line-height: 1em;
	}
	#slide4 h1 {
		line-height: 1em;
	}
	#slide4 h2 {
		line-height: 1em;
	}


}




